<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" name="newteam">
    <input type="text" placeholder="Team Name">
    <input type="text" placeholder="Coach">
    <input type="text" placeholder="Point Guard">
    <input type="text" placeholder="Shooting Guard">
    <input type="text" placeholder="Power Forward">
    <input type="text" placeholder="Small Forward">
    <input type="text" placeholder="Center">
    <input type="submit" id="1">
 </body>
</html>


